<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head :: head-with-datatables}" id="head-with-datatables">
</head>

<body class="">

<!-- Left Sidenav -->
<div th:replace="~{fragments/body/sidebar/dashboard_left_sidenav :: left-sidenav}" class="left-sidenav"
     id="left-sidenav">
</div><!-- End of Left Sidenav -->

<div class="page-wrapper">

    <div th:replace="~{fragments/body/topbar/dashboard_topbar :: topbar}" id="topbar">
    </div><!-- End of TopBar -->

    <div class="page-content">
        <div class="container-fluid">
            <!-- Page Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Analytics</h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/}">Simplify AI Complexity</a></li>
                                    <li class="breadcrumb-item active">Content</li>
                                </ol>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Content</h4>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="text-muted mb-0">
                                    Here I need to put some dummy text at the moment, but later, should put something for
                                    explanation.
                                </div>
                                <div id="loadingSpinner" class="spinner-border text-primary ms-auto">
                                    <span class="sr-only">Loading ...</span>
                                </div>
                            </div>
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="card-title">Upload Document</h2>
                                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                                        <div class="input-group">
                                            <input type="file" name="file" class="form-control" aria-label="Upload">
                                            <button class="btn btn-outline-secondary" type="submit">Upload</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="filesDataTable"
                           class="table table-striped table-bordered dt-responsive nowrap"
                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>ETag</th>
                            <th>Size</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragments/body/footer/footer :: dashboard-footer}" id="dashboard-footer">
        </footer><!--end footer-->
    </div>
</div>
<div th:replace="~{fragments/thirdparty_scripts :: datatables-thirdparty-scripts}"></div>

<div class="modal fade bd-example-modal-xl" id="summarizeModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="myExtraLargeModalLabel">Summarization</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div><!--end modal-header-->
            <div class="modal-body">
                <h5 class="mt-0">Following text has beed provided as summarization on the given document</h5>
                <p id="summarizeResult">Cras mattis consectetur purus sit amet fermentum.
                    Cras justo odio, dapibus ac facilisis in,
                    egestas eget quam. Morbi leo risus, porta ac
                    consectetur ac, vestibulum at eros.</p>
            </div><!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
            </div><!--end modal-footer-->
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->



<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function() {
            $("#loadingSpinner").hide();

            var filesDataTable = $("#filesDataTable").DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": "/datatables/storage/v1/files",
                "columns": [
                    { data: 'name', searchable: true, orderable: true },
                    { data: 'etag', searchable: false, orderable: false },
                    { data: 'humanReadableSize', searchable: false, orderable: false},
                    { searchable: false, orderable: false }
                ],
                "aoColumnDefs":[
                    {
                            "aTargets":[3],
                            "className": "text-right",
                            "mData": null,
                            "mRender": function (data, type, row) {
                                return '<a href="#" class="summarizeDocument" data-etag="' + data.etag + '"><i class="ti-wand text-secondary fs-18"></i></a>';
                            }
                    }
                ],
                "fnDrawCallback": function() {
                    $(".summarizeDocument").click(function(e) {
                        $("#loadingSpinner").show();
                        e.preventDefault();
                        var $el = $(this);
                        var formData = { "etag": $el.data('etag') };
				        $.ajax({
				            type: 'POST',
				            url: 'ai/get-summary',
				            data: JSON.stringify(formData),
				            contentType: 'application/json; charset=utf-8',
				            dataType: "json",
				            success: function (data) {
				                $("#loadingSpinner").hide();
				                $("#summarizeResult").text(data.summary);
				                $('#summarizeModal').modal('show');
				            },
				            error: function(data, textStatus, jqXHR) {
				                console.log('Error!');
				                console.log('error-data: ', data);
				                $("#loadingSpinner").hide();
				            }
				        });

                    });
                }
            });
        });
    /*]]>*/
</script>

</body>
</html>